* {
  margin: 0;
  
  /*  color: white; */
   font-family: "Permanent Marker", cursive;
}
  body {
    /*  background-color:rgb(119, 119, 119); */
    background-color:rgb(14, 32, 44);
  }
a{
  color:aqua;
}
.sombrastilo1 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
/* NAVBAR */
.navbar-logo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgb(34, 36, 42);
}
.navbar-logo p {
  font-family: "Alkalami", serif;
  font-size: 45px;
  height: 100%;
  background: -webkit-linear-gradient(#a96f44, #f2ecb6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-logo img {
  height: 75%;
  padding-top: 7px;
}

.vista{
    display:flex;
    flex-direction: column;
  color:white;
  /*   background-color:rgb(255, 122, 122); */
  
}

.vista3d model-viewer{
    width: 100%;
    height: 400px;
}
.vista3d iframe{
  width: 100%;
  height: 300px;
}


.descripcion{
    
    display: flex;
    width: 100%;
  
   /*  height: 100px; */
    background-color:#72a98f;
 
}
.titulo{
  /*   display: flex;
    justify-content: center; */
  /*   background-color:violet; */

    position: absolute;
    top: 25px;
    left: 50px;


  white-space: nowrap;
    /* margin: 30px -100px 50px 0px; */
   /*  padding-left: 100px; */
}
.ladol{
    display: flex;
    width: 30%;
    position:relative;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
   /* 
  
    */
  /*   height: 100%; */
    background-color: #3d5a6c;
}
.items{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.items button{
    margin: 0px 0px 20px 0px;

    border-radius: 10px;
    border: none;
    padding:5px 10px 5px 10px;
    cursor: pointer;
/*     border: none;
outline: none;
background: none; */
}
.items button:hover{
  background-color: aqua;
}
.items hr{
    margin: 0px 0px 10px 0px;
    width: 50%;
   
}
.lador{
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    padding-bottom: 10px;
   /*  justify-content: flex-end; */
  /*   flex-direction: column; */
    width: 100%;
    padding-top: 70px;
   /*  height: 100%; */
   /*  background-color:rgb(124, 80, 213); */
}


.foto{
  /*   background-color:rgb(213, 208, 80); */
    width: 500px;
    height:220px;
}
.foto model-viewer{
  width: 100%;
  height: 200px;
}
.foto em{
  font-size: 10px;
  padding-bottom: 0px;
}
.texto{
    background-color:rgb(80, 213, 197);
    width: 250px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    background: linear-gradient(180deg, #72A98F 0%, #8DE969 100%);
    border-radius: 10px;
   /*  height: 50px; */
}



















.areaformulario{
  /*   background-color:rgb(255, 0, 230); */
    padding: 20px 10px 20px 10px ;
}
.formulario{
    background-color:darkorange;
    border-radius:20px;
    padding-bottom: 10px;
  
   /*  width: 100%; */
  /*   margin: 25px;
    padding: 20px; */
    display: flex;
    justify-content: space-evenly;
   
}
.ladoizq div {

  margin: 30px 0px 30px 0px;
}
.ladoder div {

  margin: 30px 0px 30px 0px;
}





































.parteb{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* .na{
    display: flex;
    justify-content: space-around;
}
.ft{
    display: flex;
    justify-content: space-around;
} */



.tarjeta{
  display:flex;
  flex-direction: column;
  padding: 10px;
  width: 360px;
  height: 200px;
  border-radius:15px;
  background-color:thistle
}

.cabecera{
  display:flex;
  align-items: center;
  justify-content: space-between;

}