* {
  margin: 0;
  color: white;
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
}
body {
  background: linear-gradient(180deg, #462446 0%, #b05f6d 25%, #eb6b56 50%, #ffc153 75%, #47b39d 100%);
}

.sombrastilo1 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.sombrastilo2 {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/* NAVBAR */
.navbar-logo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgb(34, 36, 42);
}
.navbar-logo p {
  font-family: "Alkalami", serif;
  font-size: 45px;
  height: 100%;
  background: -webkit-linear-gradient(#a96f44, #f2ecb6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-logo img {
  height: 75%;
  padding-top: 7px;
}

.rueda img {
  float: left;
  shape-image-threshold: 0;
  -webkit-shape-outside: circle();
  shape-outside: circle();
  width: 450px;
  height: 100%;
  margin-top: 30px;
}

.circle {
  width: 450px;
  -webkit-shape-outside: circle();
  shape-outside: circle();
}

.introduccion {
  margin-top: 50px;
}
.introduccion p {
  margin-right: 30px;
}

.art1 {
  margin: 100px;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.art2 {
  margin: 100px;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.volver {
  cursor: pointer;
  text-decoration: none;
  background-color: #8457bb;
  border-radius: 5px;
  padding: 5px;
  position: fixed;
  left: 0px;
  top: 0px;
}
